
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Artists</h2>
      </div>
      <div class="panel-body">
        <div class="row">
        <% @artists.each do |artist| %>
          <div class="col-md-7">
            <%= image_tag artist.image_link %>
          </div>
          <div class="col-md-5">
              <h1><%= link_to artist.name, artist_path(artist), class: "btn btn-primary"%></h1><br/>
              <h4><td><%= link_to "Delete artist", artist_path(artist), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %></h4><br/>
          </div>
          <% end %>
      </div>
    </div>

  </div>
</div>
