
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Artists</h2>
      </div>
      <div class="panel-body">
        <div class="row">
        <% @artists.each do |artist| %>
          <div class="col-md-7 text-center">
            <p><%= image_tag artist.image_link %></p>
          </div>
          <div class="col-md-4 text-center">
              <p><%= link_to artist.name, artist_path(artist), class: "btn-lg btn-link"%></p>
              <p><%= link_to "Delete artist", artist_path(artist), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %></p>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
