<h1>Show#artists</h1>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        All the songs of artists
      </div>
        <div class="panel-body">
        <% @artist.songs.each do |song| %>
        <div class="row">
          <div class="col-md-9">
            <h4><%= song.song_name %></h4>
          </div>
          <!-- <div class="col-md-3">
            <%= link_to "Delete", artist_song_path(artist,song), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?" } %>
          </div> -->
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
