<h1>Pages#home</h1>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        The artists
      </div>
      <div class="panel-body">
        <% @artists.each do |artist| %>
          <div class="col-md-6">
              <%= @artist.song_name %>
          </div>
          <div class="col-md-6">
            <%= link_to artist.name, artist_path(artist), class: "btn btn-primary"%><br/>
          </div>
          <% end %>
      </div>
    </div>

  </div>
</div>
